name: Update README
# Trigger on push to main branch
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      runs-on: self-hosted
      steps:
        - uses: actions/checkout@v4
        - name: Update README
          run: ./update_readme.sh
